.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.440000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2a{margin-left:-6.008193px;}
._2{margin-left:-4.091365px;}
._5{margin-left:-2.448723px;}
._4{margin-left:-1.443882px;}
._3{width:1.456247px;}
._b{width:2.459332px;}
._0{width:4.357840px;}
._1{width:5.431013px;}
._18{width:6.640021px;}
._15{width:7.698411px;}
._16{width:8.721491px;}
._19{width:10.064228px;}
._14{width:11.179375px;}
._a{width:13.151021px;}
._8{width:14.331627px;}
._7{width:16.282449px;}
._9{width:17.805168px;}
._f{width:19.062318px;}
._17{width:20.273495px;}
._6{width:21.458706px;}
._2b{width:22.814530px;}
._d{width:24.672510px;}
._28{width:25.807372px;}
._c{width:26.929337px;}
._e{width:27.946439px;}
._25{width:29.474523px;}
._26{width:30.790626px;}
._1b{width:32.240133px;}
._27{width:33.263457px;}
._1a{width:34.345376px;}
._20{width:35.675641px;}
._1f{width:37.984163px;}
._2e{width:39.424672px;}
._2d{width:40.747609px;}
._29{width:42.449066px;}
._23{width:43.759649px;}
._2c{width:44.987986px;}
._24{width:47.016939px;}
._21{width:48.562811px;}
._22{width:50.655653px;}
._12{width:52.646078px;}
._10{width:54.028931px;}
._13{width:56.146913px;}
._11{width:57.149404px;}
._1c{width:63.230095px;}
._1e{width:65.443162px;}
._1d{width:67.223484px;}
.fc2{color:rgb(67,67,67);}
.fc1{color:rgb(45,109,83);}
.fc3{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:64.000000px;}
.fs4{font-size:66.000000px;}
.fs0{font-size:72.000000px;}
.fs3{font-size:74.000000px;}
.fs1{font-size:112.000000px;}
.fs5{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y3c{bottom:40.228027px;}
.y2e{bottom:42.154160px;}
.y1{bottom:46.462382px;}
.y3b{bottom:59.428040px;}
.y2d{bottom:63.754150px;}
.y2a{bottom:63.754166px;}
.y16{bottom:73.393692px;}
.yd{bottom:75.318680px;}
.y3a{bottom:78.628036px;}
.y2c{bottom:85.354141px;}
.y29{bottom:85.354156px;}
.yc{bottom:97.398682px;}
.y39{bottom:97.828033px;}
.y15{bottom:98.233688px;}
.y2b{bottom:106.954132px;}
.y28{bottom:106.954147px;}
.y38{bottom:117.028030px;}
.yb{bottom:119.478683px;}
.y14{bottom:123.073685px;}
.y1e{bottom:128.554123px;}
.y27{bottom:128.554138px;}
.y37{bottom:136.228027px;}
.ya{bottom:141.558685px;}
.y13{bottom:147.913681px;}
.y1d{bottom:150.154114px;}
.y26{bottom:150.154129px;}
.y36{bottom:155.428024px;}
.y9{bottom:163.638695px;}
.y3d{bottom:167.434635px;}
.y1c{bottom:171.754105px;}
.y25{bottom:171.754120px;}
.y12{bottom:172.753685px;}
.y35{bottom:174.628021px;}
.y8{bottom:185.718697px;}
.y1b{bottom:193.354111px;}
.y24{bottom:193.354126px;}
.y34{bottom:193.828026px;}
.y11{bottom:197.593681px;}
.y7{bottom:207.798698px;}
.y33{bottom:213.028030px;}
.y1a{bottom:214.954117px;}
.y23{bottom:214.954132px;}
.y10{bottom:222.433678px;}
.y6{bottom:229.878700px;}
.y32{bottom:232.228035px;}
.y19{bottom:236.554115px;}
.y22{bottom:236.554131px;}
.yf{bottom:247.273678px;}
.y31{bottom:251.428040px;}
.y5{bottom:251.958698px;}
.y18{bottom:258.154114px;}
.y21{bottom:258.154129px;}
.y30{bottom:270.628044px;}
.ye{bottom:272.113676px;}
.y4{bottom:274.038699px;}
.y17{bottom:279.754116px;}
.y20{bottom:279.754131px;}
.y2f{bottom:289.828043px;}
.y3{bottom:308.203297px;}
.y1f{bottom:331.568256px;}
.y2{bottom:341.803299px;}
.h3{height:67.968000px;}
.h1{height:76.464000px;}
.h2{height:86.240000px;}
.h4{height:147.840000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x4{left:52.654419px;}
.x2{left:63.891724px;}
.x3{left:73.565826px;}
.x6{left:75.154419px;}
.x7{left:112.800018px;}
.x1{left:249.451561px;}
.x8{left:280.846848px;}
.x5{left:289.018066px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2a{margin-left:-8.010924pt;}
._2{margin-left:-5.455153pt;}
._5{margin-left:-3.264964pt;}
._4{margin-left:-1.925175pt;}
._3{width:1.941663pt;}
._b{width:3.279110pt;}
._0{width:5.810454pt;}
._1{width:7.241350pt;}
._18{width:8.853362pt;}
._15{width:10.264548pt;}
._16{width:11.628655pt;}
._19{width:13.418970pt;}
._14{width:14.905833pt;}
._a{width:17.534695pt;}
._8{width:19.108836pt;}
._7{width:21.709932pt;}
._9{width:23.740224pt;}
._f{width:25.416424pt;}
._17{width:27.031326pt;}
._6{width:28.611607pt;}
._2b{width:30.419374pt;}
._d{width:32.896680pt;}
._28{width:34.409829pt;}
._c{width:35.905783pt;}
._e{width:37.261919pt;}
._25{width:39.299364pt;}
._26{width:41.054168pt;}
._1b{width:42.986844pt;}
._27{width:44.351276pt;}
._1a{width:45.793835pt;}
._20{width:47.567521pt;}
._1f{width:50.645551pt;}
._2e{width:52.566230pt;}
._2d{width:54.330145pt;}
._29{width:56.598755pt;}
._23{width:58.346199pt;}
._2c{width:59.983982pt;}
._24{width:62.689253pt;}
._21{width:64.750415pt;}
._22{width:67.540871pt;}
._12{width:70.194771pt;}
._10{width:72.038575pt;}
._13{width:74.862550pt;}
._11{width:76.199205pt;}
._1c{width:84.306793pt;}
._1e{width:87.257549pt;}
._1d{width:89.631312pt;}
.fs2{font-size:85.333333pt;}
.fs4{font-size:88.000000pt;}
.fs0{font-size:96.000000pt;}
.fs3{font-size:98.666667pt;}
.fs1{font-size:149.333333pt;}
.fs5{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y3c{bottom:53.637370pt;}
.y2e{bottom:56.205546pt;}
.y1{bottom:61.949843pt;}
.y3b{bottom:79.237386pt;}
.y2d{bottom:85.005534pt;}
.y2a{bottom:85.005554pt;}
.y16{bottom:97.858256pt;}
.yd{bottom:100.424906pt;}
.y3a{bottom:104.837382pt;}
.y2c{bottom:113.805522pt;}
.y29{bottom:113.805542pt;}
.yc{bottom:129.864909pt;}
.y39{bottom:130.437378pt;}
.y15{bottom:130.978251pt;}
.y2b{bottom:142.605509pt;}
.y28{bottom:142.605530pt;}
.y38{bottom:156.037374pt;}
.yb{bottom:159.304911pt;}
.y14{bottom:164.098246pt;}
.y1e{bottom:171.405497pt;}
.y27{bottom:171.405518pt;}
.y37{bottom:181.637370pt;}
.ya{bottom:188.744914pt;}
.y13{bottom:197.218241pt;}
.y1d{bottom:200.205485pt;}
.y26{bottom:200.205505pt;}
.y36{bottom:207.237366pt;}
.y9{bottom:218.184926pt;}
.y3d{bottom:223.246180pt;}
.y1c{bottom:229.005473pt;}
.y25{bottom:229.005493pt;}
.y12{bottom:230.338247pt;}
.y35{bottom:232.837362pt;}
.y8{bottom:247.624929pt;}
.y1b{bottom:257.805481pt;}
.y24{bottom:257.805501pt;}
.y34{bottom:258.437368pt;}
.y11{bottom:263.458242pt;}
.y7{bottom:277.064931pt;}
.y33{bottom:284.037374pt;}
.y1a{bottom:286.605489pt;}
.y23{bottom:286.605509pt;}
.y10{bottom:296.578237pt;}
.y6{bottom:306.504934pt;}
.y32{bottom:309.637380pt;}
.y19{bottom:315.405487pt;}
.y22{bottom:315.405507pt;}
.yf{bottom:329.698237pt;}
.y31{bottom:335.237386pt;}
.y5{bottom:335.944931pt;}
.y18{bottom:344.205485pt;}
.y21{bottom:344.205505pt;}
.y30{bottom:360.837392pt;}
.ye{bottom:362.818235pt;}
.y4{bottom:365.384932pt;}
.y17{bottom:373.005488pt;}
.y20{bottom:373.005508pt;}
.y2f{bottom:386.437391pt;}
.y3{bottom:410.937729pt;}
.y1f{bottom:442.091009pt;}
.y2{bottom:455.737732pt;}
.h3{height:90.624000pt;}
.h1{height:101.952000pt;}
.h2{height:114.986667pt;}
.h4{height:197.120000pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x4{left:70.205892pt;}
.x2{left:85.188965pt;}
.x3{left:98.087769pt;}
.x6{left:100.205892pt;}
.x7{left:150.400024pt;}
.x1{left:332.602081pt;}
.x8{left:374.462463pt;}
.x5{left:385.357422pt;}
}
